@import url('https://use.typekit.net/gki0kgr.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  background: #141414;
  --one-top: 20%;
  --drop-top: calc(var(--one-top) + 4rem);
  --c1: #00ffcc;
  --c2: #ff5454;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.one {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  height: 100%;
  scroll-snap-align: start;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 0;
}

.sec1 {
  height: 100%;
  width: 30%;
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
}

.sec1 a {
  position: relative;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.sec1 > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: white;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.sec1 > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.sec2 {
  position: relative;
  width: 70%;
  height: 100%;
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
}

.sec2 div {
  position: absolute;
  right: 3rem;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.name {
  color: white;
  font-size: 9rem;
  font-weight: 700;
  letter-spacing: -0.03ch;
}

.title {
  font-family: Consolas, courier-std, monospace !important;
  font-size: 4rem;
  color: var(--c2);
}

.typing {
  width: 11ch;
  animation: typing 1.5s steps(11), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  border-color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.scroll-animation {
  position: absolute;
  bottom: 0%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -110%);
  animation: spin 1.5s ease-out infinite;
  height: 2rem;
  filter: invert(1);
}

@keyframes spin {
  100% {
    transform: translate(-50%, -70%);
    opacity: 1;
  }
}

.two {
  color: white;
}

.doggo-div {
  position: absolute;
  width: 100%;
  bottom: 5rem;
}

.doggo {
  width: 6rem;
  height: 5rem;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transition: left 1s linear;
  transform: translateX(50%) scaleX(1);
  background-image: url('0.png');
}

@keyframes bg {
  0% {
    background-image: url('1.png');
  }
  50% {
    background-image: url('2.png');
  }
  100% {
    background-image: url('1.png');
  }
}
